{% extends 'base.html' %}
{% block content %}
<main>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  </div>

  <div class="container-lg mt-3">
    <h1>
      Сайты
    </h1>
    <table class="table table-bordered" data-test="urls">
      <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
          </tr>  
      </thead>
      <tbody>
        {% for url in urls %}
          <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('urls_show', id=url.id)}}">{{ url.name }}</a></td>
            <td>{{ url.created_at.strftime("%Y-%m-%d") }}</td>
            <td><!-- {{ url.response }} -->NONE</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}