{% extends 'base.html' %}
{% block content %}
<main>

  <div class="container-lg mt-3">
    <h1>
      Сайты
    </h1>
    <table class="table table-bordered" data-test="urls">
      <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
          </tr>  
      </thead>
      <tbody>
        {% for url in urls %}
          <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('urls_show', id=url.id)}}">{{ url.name }}</a></td>
            <td>{{ url.created_at.strftime("%Y-%m-%d") if url.created_at else '' }}</td>
            <td>{{ url.status_code }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}