{% extends 'base.html' %}
{% block content %}
<main>
  {% if errors['name'] %}
    <div class="alert alert-danger" role="alert">
      {{ errors['name'] }}
    </div>
  {% endif %}
  <p></p>
  <div class="card text-start mb-3 mx-auto p-2 bg-light" style="width: 30rem;">
    <div class="card-body">
      <h1 class="card-title">Анализатор страниц</h1>
      <p class="card-text">Бесплатно проверяйте сайты на SEO-пригодность</p>
      <form action="/" method="POST" class="d-flex justify-content-left">
        <div class="col-auto">
          <lable class="form-label visually-hidden">
            Проверить URL
          </lable> 
        </div>
        <div class="row align-bottom">
          <div class="col-md-auto">
            <input class="form-control" type="text" name="url" value="{{ url.name }}" placeholder="http://www.example.com">
          </div>
          <div class="col-md-auto">
            <input type="submit" class="btn btn-primary" value="ПРОВЕРИТЬ">
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}